<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitness.centrale.centralefitness">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_lightbulb_outline_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_lightbulb_outline_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyAIi0GXu5BSGaPWrg7WEdcLBOMOtTDy-Cg" />

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NFCScanActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tec_list" />
        </activity>
        <activity
            android:name=".activities.SessionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.profile.ProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".social.SocialActivity" />
        <activity android:name=".newdesign.CenterActivity" />
        <activity android:name=".activities.EventDetailsActivity" />
        <activity android:name=".activities.AffiliationActivity" />
        <activity android:name=".fragments.stats.SessionDetailsActivity" />
        <activity android:name=".activities.programs.ProgramDetailsActivity" />
        <activity android:name=".activities.programs.run.program.RunProgramActivity" />
        <activity android:name=".activities.programs.run.program.ProgramEndingActivity"></activity>
    </application>

</manifest>